# Python
__pycache__/
*.pyc
*.pyo
*.pyd
__init__.py

# Virtual Environment
venv/
env/
.venv/
pip-log.txt

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sql
*.sqlite

# Compiled files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints
exp.ipynb

# Streamlit specific
__pycache__/
.streamlit/secrets.toml
.streamlit/config.toml

#directories
docs/
temp/

# files
cost_of_living_us.csv
